<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %> 
<div class="new-topic">
  <form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
    <div class="user-box">
      <textarea type="text" name="text"><%= comment.text %></textarea>
    </div>
    <button type="submit">update</button>
  </form>
</div>
<%- include('../partials/footer.ejs') %>