<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %> 
<h3 class="topics-header">featured topics</h3>
<div class="container">
  <% topics.forEach(topic => { %>
    <a href="/topics/<%- topic._id %>" class="topic">
        <%- topic.title %> 
    </a>
  <% }) %>
</div>
<!-- <a href="/topics/new">Add a New Topic</a> -->
<%- include('../partials/footer.ejs') %> 