<%- include('../partials/header.ejs') %> 
<nav>
  <div class="site-title">
    <a href="/"><h3>Re-Redit</h3></a>
  </div>
  <div class="nav-links">
    <a href="/" class="center">HOME</a>
    <a href="/topics" class="center">TOPICS</a>
    <% if (user) { %>
      <a href="/logout" class="center">LOGOUT</a>
      <a href="/users/<%= user._id %>">PROFILE</a>
    <% } else { %>
      <a href="/auth/google" class="center">LOG IN</a>
    <% } %>
    <a href="/topics/<%- topic._id %>/threads/new" class="add-topic-btn">
      +
      <span class="tool-tip">add post</span>
    </a>
  </div>
</nav>

<h2 class="topic-show-title"><%= topic.title %> </h2>
<div class="thread-list">
  <% threads.forEach(thread => { %>
    <div class="topic-thread">
      <div class="profile">
        </a><img src="<%= thread.userAvatar %>"alt="avatar"><%= thread.userName %>
      </div>
      <h2><%= thread.title %></h2>
      <p><%= thread.text %></p>
      <div class="thread-options">
        <a href="/threads/<%- thread.id %>"><img class="comment-bubble" src="/images/comment-bubble.svg" alt="comment-bubble"></a>
        <a href=""><img src="/images/thumbs-up-solid.svg" alt=""></a>
      </div>
    </div>
  <% }) %>
</div>

<%- include('../partials/footer.ejs') %> 